body{
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
animation-name: lahicolor;
animation-duration: 20s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes lahicolor {
0%{background-color: pink;}
30%{background-color: rgb(0, 0, 0);}
45%{background-color: purple;}
60%{background-color: orange;}
75%{background-color: green;}
85%{background-color: red;}
95%{background-color: aquamarine;}
100%{background-color: blue;}
}
*{
padding: 0;   
}
.main-box{
width: 700px;
height: 670px;
background-color: wheat;
border-radius: 16px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
top: 10px;
bottom: 5px;
display: flex;
justify-content: center;
align-items: center;
visibility: hidden;
margin-right: 10%;
}
.content-message-holder{
width:650px;
height: 610px; 
background-color: white;
border-radius: 16px;
}
.content-message{
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
}
.function-btn{
transform: translate(340px);
}
P{
font-size: 10rem;
}
button{
font-size: 40px;
border-radius: 10px;
background-color: green;
animation-name: move;
animation-duration: 8s;
animation-iteration-count: infinite;
animation-direction: alternate;
cursor: pointer;
border: none;
}
@keyframes move{
10%{transform: translate(500px,200px);}
20%{transform: translate(1500px,1000px);}
30%{transform: translate(2500px,400px);}
40%{transform: translate(500px,1000px);}
50%{transform: translate(1000px,1000px);}
60%{transform: translate(200px,200px);}
70%{transform: translate(200px,100px);}
80%{transform: translate(500px,1200px);}
90%{transform: translate(1500px,200px);}
100%{transform: translate(100px,1000px);}
}
